{
  "$schema": "../schemas/usmt-config-schema.json",
  "usmt": {
    "customPath": "",

    "userScope": "current",
    // "userScope": "all",

    "users": [],
    // "users": ["Chris"],
    // "users": ["DOMAIN\\Alice", "DOMAIN\\Bob"],

    "xmlFiles": [
      "MigApp.xml",
      "MigUser.xml",
      "ExcludeCommon.xml"
    ],
    "additionalArgs": [
      "/c",
      "/v:1",
      "/efs:skip"
    ]
  },
  "backup": {
    "outputDir": "$ONEDRIVE\\MigratronBackups",
    "retentionCount": 5,
    "compress": false,
    "encryptionKey": "",
    "generateManifest": true,
    "excludePaths": [
      "%OneDrive%",
      "%OneDriveConsumer%",
      "%OneDriveCommercial%",
      "%USERPROFILE%\\Dropbox",
      "%LOCALAPPDATA%\\Google\\DriveFS",
      "%LOCALAPPDATA%\\Box",
      "%USERPROFILE%\\Box",
      "%USERPROFILE%\\Box Sync",
      "%windir%\\ServiceProfiles",
      "D:\\",
      "E:\\UnwantedFolder"
    ],
    "waitForSync": true
  },
  "schedule": {
    "taskName": "MigratronSnapshot",
    "trigger": "Daily",
    "time": "22:00"
  }
}
